.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #212121; /* Updated background color */
    border-radius: 20px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    color: #64ffda;
    font-size: 1.2em;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #212121; /* Updated background color */
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent; /* Transparent background */
    color: #64ffda; /* Button text color */
  }
  
  .sendMessage-btn:hover {
     background-color: #64ffda; /* Change button background on hover */
     color: #000; /* Change button text color on hover */
     box-shadow: inset 2px 5px 10px rgb(5,5,5); /* Add shadow effect */
  }
  
  .form-card1 {
     background-image: linear-gradient(163deg, #64ffda, #64ffda);
     border-radius: 22px; 
     transition: all .3s; 
  }
  
  .form-card1:hover {
     box-shadow:none; /* No shadow on hover */
  }
  
  .form-card2 {
     border-radius:0; 
     transition:.2s; 
  }
  
  .form-card2:hover {
     transform:scale(0.98); 
     border-radius:20px; 
  }