.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,248,255,0.818) 100%);
}

.main-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    flex: 1;
}

.page-container {
    width: 100%;
    padding: 1rem 0;
}